<!-- product details section -->
<section id="product-details-section mx-auto">

  <!-- product-details-container -->
  <div class="container flex px-4 mx-auto space-x-2 bg-white">
    
    <!-- Conditional rendering with @if, @else for loading and error states -->
    @if (product$ | async; as product) {

      <!-- Product details image container -->
      <div class="w-1/2">
        <!-- Image -->
        <img height="400px" width="400px" class="mx-auto" [src]="product.image " alt="{{ product.title }}">
        
      </div>
      
      <!-- text container -->
      <div class="flex flex-col w-1/2 h-full p-4 m-24 space-y-2 bg-white">

        
          <!-- title -->
          <div class="text-xl font-bold">{{ product.title }}</div>
          <!-- description -->
          <p class="text-base text-gray-700">
            {{ product.description }}
          </p>
        
        
        <!-- Tags -->
        <div class="">
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">{{ product.category }}</span>
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">{{ product.price | currency }}</span>
          <!-- <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">{{ product.rating.rate}}</span> -->
        </div>
        
        <!-- button -->
        <div>
          <button (click)="additemToCartDispatcher(product)" type="button" class="add-to-cart-button"> Add to cart </button>
        </div>
        
        
     
      </div>

      
      
      
    } @else if (error | async){
      <div class="text-center">
        <span class="text-3xl"> Error while retreiving Product list </span>
      </div>
    } @else {
        <div class="text-center">
            <p>Loading product details...</p>
          </div>
    }
</div>
  
</section>

  
