
<nav class="bg-white shadow dark:bg-gray-900">

    <div class="container px-6 py-4 mx-auto">

        <div class="flex items-center justify-between">

            <!-- Burger Menu -->
            <button mat-icon-button color="accent">
                <mat-icon>menu</mat-icon>
              </button>
                
            <!-- Title -->
            <span class="text-xl font-semibold text-gray-700 md:text-4xl dark:text-white">
                Ecommerce App<span class="text-red-500">NGRX</span>
            </span>
            
            <!-- Cart Button -->
            <div>
                <button class="text-white">
                    Cart
                </button>
            </div>            

        </div>
 
        

    </div>

    

    
</nav>
