<div class="product-card-container" >
    <!-- propert binding -->
    <!-- image -->
    <img class="product-image" [src]="product.image" alt="....">
    
    <!-- description -->
    <div class="px-6">
      <div class="mb-2 text-xl font-bold line-clamp-1">{{product.title}}</div>
      <p class="text-base text-gray-700 line-clamp-3">
        <!-- substring lets shortern the string text -->
       {{product.description.substring(0, 100)}}...
      </p>
    </div>

    <!-- Button icon things -->
    <div class="px-6 pt-2">
      <span  class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">{{product.category}}</span>
      <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">{{product.rating.rate}}</span>
      <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">{{product.price | currency}}</span>
    </div>

    <!-- buttons -->
    <div class="grid grid-cols-2 pt-2 pb-2">

      <button (click)="navigateToProduct(product.id)" type="button" class="view-product-button"> View product </button>
      <button (click)="addCart(product)" type="button" class="add-to-cart-button"> Add to cart </button>
      
    </div>



  </div>

