<!-- Global Container -->
<div class="relative min-h-screen bg-gray-100 dark:bg-gray-800">
    <!-- Navbar  -->
    <app-header/>
    
    <!-- Side Nav -->
    <mat-sidenav-container class="dark:bg-gray-800">
        
        
        <!-- #sidenav is the DOM child component we are accessing in our App Component -->
        <!-- 1. on a screen change(screenChange), compute the screen size (computeSize($event)) -->
        <!-- 2. side nav mode : retreive the current screen size from the screen size signal, change the mode of the sidenav based on signal value -->
        <!-- 3. opened: retreive the sidebarsignal true | false, and have the side bar open depending on that value, set to false initially -->
        <!-- Reactivity, Changes 'mode' depending on screen size -->
        <mat-sidenav appScreenSize #sidenav (screenChange)="computeSize($event)" [mode]="screenSignal.currentScreenSize() === 'small' ? 'over': 'side'" [opened]="sidebarSignal.sidebarOpen()"
        class="w-64 bg-gray-800 shadow-[0px_8px_10px_-5px_rgb(77_140_228),0px_16px_24px_2px_rgb(17_19_23),0px_6px_30px_5px_rgb(29_32_35_/_72%)]">  
            <div class="flex flex-col justify-center gap-5 m-5">
        <button mat-flat-button class="w-full" routerLink="/login">Login</button>
        <button mat-flat-button class="w-full">Signup</button>
        <button mat-flat-button class="w-full">Basic</button>

      </div>
        
        </mat-sidenav>



        

        <!-- Main Content  -->
        <mat-sidenav-content> 
            
            <!-- <button mat-button (click)="toggle()">toggle</button> -->
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>


<!-- footer -->
<app-footer></app-footer>
</div>


