<p>shipping-form works!</p>


<form [formGroup]="shippingForm" (ngSubmit)="onSubmit()">

    <h3 class="my-2">Please Enter Shipping Information</h3>
    <div class="mb-3 row">
        <div class="col">
            <div>
                <label class="form-label">First Name</label>
                <input class="form-control" type="string" formControlName="firstName">
        
                <!-- Validation Message -->
                <small class="text-red-500" *ngIf="shippingForm.get('firstName')?.invalid && shippingForm.get('firstName')?.touched">
                    First Name is required
                </small>
            </div>
            
        </div>
        <div class="col">
            <div>
                <label class="form-label">Last Name</label>
                <input class="form-control" type="string" formControlName="lastName">
                <!-- Validation Message -->
                 <small class="text-red-500" *ngIf="shippingForm.get('lastName')?.invalid && shippingForm.get('lastName')?.touched">
                    Last Name Is required
                </small>
            </div>
        

        </div>
    </div>

    <div class="mb-3 row">
        <div class="col">
            <div>
                <label class="form-label">Email</label>
                <input class="form-control" type="email" formControlName="email">
             
                <small class="text-red-500" *ngIf="shippingForm.get('email')?.invalid && shippingForm.get('email')?.touched && shippingForm.controls['email']?.errors">
                    must use valid email Address 
                </small>
                <small class="text-red-500" *ngIf="shippingForm.get('email')?.invalid && shippingForm.get('email')?.touched">
                   Email is required 
                </small>
            </div>

        </div>

        <div class="col">

            <div>
                <label class="form-label">Mobile </label>
                <input class="form-control" type="text" formControlName="mobile">
                <!-- Validation Message -->
                <small class="text-red-500" *ngIf="shippingForm.get('mobile')?.invalid && shippingForm.get('mobile')?.touched">
                    Mobile is required
                </small>
                 
            </div>

        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-md-2">
            <div>
                <label class="form-label">City</label>
                <input class="form-control" type="text" formControlName="city">
                <!-- Validation Message -->
                <small class="text-red-500" *ngIf="shippingForm.get('city')?.invalid && shippingForm.get('city')?.touched">
                    City is required
                </small>
            </div>

        </div>
    </div>
    

<!-- disallow submit btn if form is invalid -->
 <button class="p-2 font-semibold bg-yellow-200 shadow rounded-xl disabled:cursor-not-allowed" type="submit" [disabled]="shippingForm.invalid">Submit Form</button>
</form>
