<!-- Global container -->
    <div class="flex items-center justify-center min-h-screen bg-rose-100">
        

        <div class="flex space-x-0">
            
        
            <!-- login in conatainer -->
            <div class="flex flex-col px-6 py-6 mx-6 space-y-4 bg-white shadow-2xl rounded-xl md:mx-0 md:rounded-l-0 md:py-10 md:px-10">
                
                    <!-- item -->
                    <div class="flex justify-between">
                        <div class="text-3xl font-bold text-black">Checkout</div>
                        
                       <!-- Close Button -->
        
                        
                    </div>
                    <!-- small text -->
                    <div>
                        <p class="text-sm font-light">Log in to your account to upload or download pictures, videos or
                            music.</p>
                    </div>
                    <!-- Form section -->
                    <div class="flex flex-col items-center space-y-4">
                            <!-- form  -->
                            <div>
                                <!-- <input class="h-16 p-4 border rounded-lg w-80" type="text" placeholder="Enter Your Email Address"> -->
                                <app-order-form></app-order-form>
                            </div>
                    </div>
                    
            </div>
            <!-- images side -->
            <div class="relative hidden md:contents">

                

                <div class="relative">
                    <img class="w-[500px] h-[600px] rounded" src="../../../assets/images/water.jpg" alt="">
                    
                    <div class="absolute top-0 right-0 p-2 m-6 rounded-full bg-slate-200"
                    >
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-8 h-8 text-black group-hover:text-gray-600"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="18" y1="6" x2="6" y2="18" />
                        <line x1="6" y1="6" x2="18" y2="18" />
                        </svg>
                    </div>
                </div>
                
                
            </div>
            
            
            
            
           

            
        </div>

       



    
    </div>

