

<div class="container h-screen mx-auto bg-slate-200">
    <h3 class="text-2xl font-bold text-center">Checkout Works</h3>

    <section>
        <h3 class="text-center rounded rounded-l bg-slate-400 ">shipping form section</h3>
        <app-shipping-form></app-shipping-form>
    </section>
    
    <section>
        <h3 class="text-center rounded-l bg-slate-400 ">Payment form section</h3>
    </section>

    <button class="p-2 font-semibold bg-yellow-200 shadow rounded-xl">Place Order</button>
</div>